body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #262626;
  color: #ffffff;
  font-weight: 500;
}

.navbar {
  border-radius: 0;
  background-color: #000000;
  height: 6em;
}

.navbar-header {
  margin-top: 1em;
}

.brand {
  padding: 1em;
  font-size: 2em;
  color: #ffffff;
  text-decoration: none;
}

.brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.wrapper {
  text-align: center;
  font-size: 1.3em;
}

.wrapper p {
  margin-bottom: 1.5em;
}

.wrapper ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.wrapper ul li {
  text-align: left;
}

.wrapper h2 {
  margin-bottom: 1.5em;
}

.container {
  width: 70%;
}

.container .plug-button {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 0;
  font-size: 1.25em;
  margin: 1em 0;
  font-weight: 300;
  font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;
  color: white;
  text-decoration: none;
  width: 100%;
  color: #cccccc;
}
.container .plug-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #ffffff;
}
