extends layout

block content
  h2 HAT Fitbit Data Plug
  p.plug-info You can synchronise your Fitbit data with your personal HAT and browse it on Rumpel.
  p.plug-info
    span A few simple steps will get you going:
    ul
      li 1. Authorise the plug to login to your Fitbit account
      li 2. Select the categories for synchronisation between HAT and Fitbit
      li 3. See your data appear on Rumpel

  .container
    a.plug-button(href="#") Start Here
    a.plug-button(href="http://www.hatdex.org") Learn more about your data